// .home{
//     display: flex;
//     .homeContainer{
//         flex: 6;
//         .widgets , .charts{
//             display: flex;
//             padding: 20px;
//                 gap: 20px;
//         }
//         .charts{
//             padding: 5px 20px;

//         }
//         .listContainer{
//             -webkit-box-shadow: 2px 4px 10px 1px #000000; 
//             box-shadow: 2px 4px 10px 1px #666666;
//             padding: 20px;
//             margin: 20px;


//             .listTitle{
//                 font-weight: 500;
//                 color: #666666;
//                 margin-bottom: 15px;
                
//             }
//         }
//     }
// }

body {
    /* fallback for old browsers */
    background: #f5f4f7;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(253, 252, 253), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(248, 248, 248), rgba(37, 117, 252, 1))
  }

  body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}